<section class="bg-slate-100 min-h-screen grid place-content-center">
  <div class="container mx-auto px-8 lg:px-0">
    <section class="mb-12">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex gap-4 items-center"
              [ngClass]="{ 'opacity-70 cursor-not-allowed hover:bg-blue-500' : isLoading }"
              (click)="handlePromise()">
        {{ isLoading ? 'Cargando...' : 'Ejecutar promesa' }}

        <svg *ngIf="isLoading"
             class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 4.418 3.582 8 8 8v-4c-2.474 0-4.746-.906-6.498-2.416l2.292-2.292a1 1 0 011.414 1.414l-4 4z"></path>
        </svg>
      </button>
    </section>

    <section class="bg-gray-100 mb-12">
      <div class="max-w-4xl mx-auto bg-white shadow-md rounded-md p-4">
        <table class="min-w-full">
          <thead>
            <tr>
              <th class="px-6 py-3 bg-gray-300 text-left">ID</th>
              <th class="px-6 py-3 bg-gray-300 text-left">Nombre</th>
              <th class="px-6 py-3 bg-gray-300 text-left">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pokemon of entities; let i = index">
              <td class="px-6 py-4 whitespace-nowrap">{{ i + 1 }}</td>
              <td class="px-6 py-4 whitespace-nowrap">{{ pokemon.name }}</td>
              <td class="px-6 py-4 whitespace-nowrap">{{ pokemon.url }}</td>
              <!--              <td class="px-6 py-4 whitespace-nowrap">-->

              <!--              </td>-->
            </tr>
            <!-- Más filas de datos aquí -->
          </tbody>
        </table>
      </div>
    </section>
  </div>
</section>
